body * {
  outline: none !important; }

@media (min-width: 1440px) {
  .container {
    max-width: 1359px; } }
button {
  outline: none !important; }

.btn-brown {
  padding: 12px 23px 11px;
  background-color: #bba294;
  font-size: 12px;
  font-family: "Proxima Nova Lt";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  line-height: 1.667;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all .2s; }
  .btn-brown:hover {
    background-color: #78797c; }
  @media (max-width: 1199px) {
    .btn-brown {
      padding: 12px 21px 11px;
      font-size: 11px;
      letter-spacing: 1.4px; } }

.btn-white {
  padding: 12px 23px 11px;
  background-color: white;
  font-size: 12px;
  font-family: "Proxima Nova rg";
  color: #bba294;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  line-height: 1.667;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all .2s; }
  .btn-white:hover {
    background-color: #78797c;
    color: white; }

.btn-gray {
  border: 1px solid #73757b;
  background-color: transparent;
  padding: 29px 39px;
  font-size: 14px;
  font-family: "Proxima Nova Lt";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2.6px;
  transition: all .2s;
  overflow: hidden;
  position: relative; }
  .btn-gray span {
    position: relative;
    z-index: 2; }
  .btn-gray:before {
    position: absolute;
    content: '';
    width: 120%;
    height: 100%;
    top: 0;
    left: -120%;
    background: #78797c;
    transition: all .2s;
    z-index: 1;
    -webkit-clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%); }
  .btn-gray:hover {
    color: white; }
    .btn-gray:hover:before {
      left: 0; }

.btn-black {
  padding: 20px 23px 18px;
  background-color: #3d3e41;
  font-size: 13px;
  font-family: "Proxima Nova Lt";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: 0;
  line-height: 1.667;
  cursor: pointer;
  transition: all .2s;
  letter-spacing: 2.4px; }
  .btn-black:hover {
    background-color: #bba294;
    color: white; }

.breadcrumbs {
  margin-bottom: 57px; }
  .breadcrumbs__item {
    font-size: 10px;
    font-family: "Proxima Nova Lt";
    color: #414349;
    text-decoration: underline;
    text-transform: uppercase;
    margin-right: 26px;
    position: relative; }
    .breadcrumbs__item:after {
      content: '';
      height: 5px;
      width: 5px;
      position: absolute;
      right: -16px;
      top: -1px;
      bottom: 0;
      margin: auto;
      border-top: 1px solid #bba294;
      border-right: 1px solid #bba294;
      transform: rotate(45deg); }
    .breadcrumbs__item:last-of-type {
      font-weight: 600;
      pointer-events: none;
      text-decoration: none; }
      .breadcrumbs__item:last-of-type:after {
        display: none; }
    .breadcrumbs__item:hover {
      color: #bba294; }

.input-block {
  position: relative; }
  .input-block .error-msg {
    display: none;
    height: 0;
    transition: all .2s; }
  .input-block input {
    width: 100%;
    outline: none;
    font-size: 16px;
    padding-left: 24px;
    border: 0;
    background-color: #f3f3f3;
    height: 44px;
    font-family: "Proxima Nova Lt";
    color: #505258;
    line-height: 1.75; }
    .input-block input.error {
      border: 1px solid red; }
      .input-block input.error + .error-msg {
        display: block;
        color: red;
        font-size: 10px;
        font-family: "Proxima Nova Lt";
        line-height: 1.6;
        width: 100%;
        height: auto;
        text-align: right; }

.custom-checkbox input {
  display: none; }
  .custom-checkbox input:checked + label:after {
    opacity: 1; }
.custom-checkbox label {
  cursor: pointer;
  padding-left: 27px;
  position: relative;
  font-size: 12px;
  font-family: "Proxima Nova Rg";
  color: #505258;
  line-height: 1.5;
  margin-bottom: 0; }
  .custom-checkbox label:before {
    border: 1px solid #bba294;
    width: 16px;
    height: 16px;
    content: '';
    position: absolute;
    left: 0;
    top: 0; }
  .custom-checkbox label:after {
    opacity: 0;
    content: '';
    position: absolute;
    background: url("../assets/tick.png");
    width: 10px;
    height: 8px;
    left: 3px;
    top: 4px; }

.select2 {
  width: 100% !important;
  font-family: "Proxima Nova Lt";
  color: #505258;
  outline: none !important; }

.select2-container--default .select2-selection--single {
  border-radius: 0;
  border: 0;
  background-color: #f3f3f3;
  height: 44px; }

.select2-results__option {
  height: 44px;
  font-family: "Proxima Nova Lt";
  line-height: 2;
  color: #505258;
  padding-left: 24px;
  background-color: #f3f3f3; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background: white; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: #bfa799;
  color: white; }

.select2-dropdown {
  border: 0;
  border-radius: 0; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 2.8;
  padding-left: 24px; }

.select2-search--dropdown {
  display: none; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 44px;
  position: absolute;
  top: 1px;
  right: 10px;
  width: 20px; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: -7px;
  border: 0;
  border-left: 2px solid #bfa799;
  width: 8px;
  height: 8px;
  border-top: 2px solid #bfa799;
  transform: rotate(225deg); }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border: 0;
  border-left: 2px solid #bfa799;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #bfa799;
  transform: rotate(45deg); }

.social-links {
  display: flex;
  align-items: center; }
  .social-links a {
    display: block;
    margin-right: 16px;
    font-size: 0.8em; }
    .social-links a i {
      color: #bba294; }
    .social-links a:hover {
      text-decoration: none; }
      .social-links a:hover i {
        color: #78797c; }
    .social-links a:last-of-type {
      margin-right: 0; }
  .social-links.--white a i {
    color: white; }
  .social-links.--white a:hover i {
    color: #bba294; }

body {
  position: relative;
  padding-top: 128px; }
  @media (max-width: 1199px) {
    body {
      padding-top: 45px; } }

header {
  position: absolute;
  width: 100%;
  top: 0;
  height: auto;
  background: white;
  z-index: 10; }
  header .split {
    width: 100%;
    background-color: #e1ebed;
    height: 1px; }
  header .header-content {
    display: flex;
    height: 56px;
    align-items: center; }
    @media (max-width: 1199px) {
      header .header-content {
        height: 45px; } }
    header .header-content.h-71 {
      height: 71px; }
    header .header-content .logo {
      position: relative;
      width: 131px;
      height: 73px;
      margin-right: 30px; }
      header .header-content .logo img {
        width: 100%;
        position: absolute;
        top: 0;
        transform: translateY(-23%);
        z-index: 50; }
      @media (max-width: 1199px) {
        header .header-content .logo {
          width: 84px;
          margin-right: 19px; }
          header .header-content .logo img {
            transform: translateY(33%); } }
    header .header-content .nav-links a {
      height: 100%;
      display: inline-block;
      padding: 30px 11px 24px;
      font-size: 12px;
      font-family: "Proxima Nova Rg";
      color: black;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.667; }
      header .header-content .nav-links a[aria-expanded='true'], header .header-content .nav-links a.active {
        padding-top: 28px;
        border-top: 2px solid #bba294; }
      header .header-content .nav-links a:hover {
        text-decoration: none;
        color: #bba294; }
    header .header-content .nav-links button {
      margin-left: 15px; }
    header .header-content .social-links {
      margin-left: 30px; }
    header .header-content .burger {
      display: block;
      width: 18px;
      height: 14px;
      margin-left: 26px; }
      header .header-content .burger span {
        width: 100%;
        height: 2px;
        display: block;
        background: #b3a093;
        margin-bottom: 4px; }
        header .header-content .burger span:last-of-type {
          margin-bottom: 0; }
  header .link-w-icon {
    font-size: 12px;
    font-family: "Proxima Nova Rg";
    color: black;
    padding-left: 21px; }
    header .link-w-icon:hover {
      text-decoration: none;
      color: #bba294; }
    header .link-w-icon.big {
      font-weight: bold;
      text-transform: uppercase;
      padding: 30px 15px 24px 30px;
      line-height: 1.667;
      font-size: 12px;
      position: relative; }
      header .link-w-icon.big .burger {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 12px;
        margin: auto; }
        header .link-w-icon.big .burger span {
          display: block;
          background: #bba294;
          width: 14px;
          height: 2px;
          margin-bottom: 3px;
          transition: all .2s; }
          header .link-w-icon.big .burger span:nth-of-type(2) {
            width: 8px; }
    header .link-w-icon.geo {
      position: relative; }
      header .link-w-icon.geo:before {
        content: url("../assets/geo-icon.png");
        left: 0;
        position: absolute; }
    header .link-w-icon.phone {
      position: relative;
      font-weight: bold; }
      header .link-w-icon.phone:before {
        content: url("../assets/phone-icon.png");
        left: 0;
        position: absolute;
        height: 13px;
        top: 0;
        bottom: 0;
        margin: auto; }
      @media (max-width: 1199px) {
        header .link-w-icon.phone {
          letter-spacing: 0.9px; } }
    header .link-w-icon[aria-expanded='true'] .burger span {
      width: 14px !important; }
  header .sub-menu .collapse, header .sub-menu .collapsing {
    border-top: 1px solid #e1ebed; }
  header .sub-menu__container {
    height: auto;
    display: flex;
    justify-content: center; }
    header .sub-menu__container.big-menu {
      padding-top: 65px;
      padding-bottom: 70px;
      justify-content: space-around; }
    header .sub-menu__container.small-menu {
      padding-top: 28px;
      padding-bottom: 24px; }
    header .sub-menu__container a {
      font-size: 14px;
      font-family: "Proxima Nova Rg";
      color: black;
      font-weight: normal;
      line-height: 1;
      padding-left: 15px;
      padding-right: 15px; }
      header .sub-menu__container a:hover {
        color: #bba294;
        font-weight: bold;
        padding-left: 14px;
        padding-right: 14px;
        text-decoration: none; }
    header .sub-menu__container .menu-item {
      width: 160px; }
      header .sub-menu__container .menu-item .title {
        font-size: 12px;
        font-family: "Proxima Nova Rg";
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.5;
        margin-bottom: 16px; }
      header .sub-menu__container .menu-item a {
        margin-bottom: 8px;
        width: 100%;
        line-height: 1.2;
        display: block;
        padding: 0; }

.footer {
  background: #78797c;
  color: white; }
  .footer .info-row {
    padding-top: 67px;
    padding-bottom: 62px; }
    @media (max-width: 1199px) {
      .footer .info-row {
        padding-top: 30px;
        padding-bottom: 0; }
        .footer .info-row .img-fluid {
          width: 27.6%;
          height: auto;
          margin-right: auto; } }
  .footer .sub-row {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
    @media (max-width: 1199px) {
      .footer .sub-row {
        margin-left: 0;
        margin-right: 0; }
        .footer .sub-row .mobile-split {
          border-top: 1px solid rgba(255, 255, 255, 0.2);
          width: 100%;
          margin-top: 5px;
          margin-bottom: 15px; } }
  .footer .link-w-icon {
    font-family: "Proxima Nova Rg";
    padding-left: 21px;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    line-height: 1.833;
    letter-spacing: 1px; }
    @media (max-width: 1199px) {
      .footer .link-w-icon {
        margin-bottom: 22px;
        display: block;
        letter-spacing: 1.3px;
        padding-left: 30px; } }
    .footer .link-w-icon:hover {
      text-decoration: none;
      color: #bba294; }
    .footer .link-w-icon.geo {
      position: relative; }
      .footer .link-w-icon.geo:before {
        content: url("../assets/geo-icon-w.png");
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute; }
    .footer .link-w-icon.phone {
      position: relative; }
      @media (max-width: 1199px) {
        .footer .link-w-icon.phone {
          font-size: 13.6px; } }
      .footer .link-w-icon.phone:before {
        content: url("../assets/phone-icon-w.png");
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute; }
  .footer .logo-block {
    text-align: center;
    order: 1; }
    @media (max-width: 1199px) {
      .footer .logo-block {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 35px;
        order: 0; } }
  .footer__link {
    font-size: 12px;
    font-family: "Proxima Nova Rg";
    color: white;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 36px;
    display: block;
    letter-spacing: 2px; }
    @media (max-width: 1199px) {
      .footer__link {
        font-size: 10.5px;
        padding-left: 3px;
        margin-bottom: 24px;
        line-height: 1.15; } }
    .footer__link:hover {
      color: #bba294;
      text-decoration: none; }
  .footer .social-links {
    justify-content: space-around;
    margin-bottom: 35px; }
    @media (max-width: 1199px) {
      .footer .social-links {
        margin-bottom: 0; } }
    .footer .social-links a {
      margin-right: 0; }
      @media (max-width: 1199px) {
        .footer .social-links a {
          margin-right: 19px; }
          .footer .social-links a:last-of-type {
            margin-right: 0; } }
    .footer .social-links i {
      font-size: 19px; }
  .footer .big-text {
    font-size: 14px;
    font-family: "Helvetica Neue";
    color: #b5b5b5;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 300; }
    @media (max-width: 1199px) {
      .footer .big-text {
        font-size: 16px;
        letter-spacing: 1.2px; } }
  .footer a.big-text {
    position: relative; }
    .footer a.big-text:after {
      content: '';
      position: absolute;
      bottom: 1px;
      width: 100%;
      height: 2px;
      left: 0;
      background: #b5b5b5; }
    .footer a.big-text:hover {
      color: #bba294;
      text-decoration: none; }
      .footer a.big-text:hover:after {
        background: #bba294; }
  .footer .copyright {
    font-size: 10px;
    font-family: "Proxima Nova Rg";
    color: #c8c8c8;
    line-height: 1.2; }
    @media (max-width: 1199px) {
      .footer .copyright {
        line-height: 1.6;
        display: inherit; } }

body {
  font-family: 'Helvetica Neue'; }

.wrapper {
  padding-top: 80px;
  padding-bottom: 60px; }
  @media (min-width: 1200px) {
    .wrapper {
      padding-top: 79px;
      padding-bottom: 114px; } }

.page-title {
  font-size: 48px;
  font-family: "Helvetica Neue";
  color: #414349;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 5.4px;
  font-weight: 300;
  margin-bottom: 50px; }
  @media (max-width: 1199px) {
    .page-title {
      font-size: 26px;
      letter-spacing: 3px; } }
  @media (min-width: 1200px) {
    .page-title {
      margin-bottom: 81px; } }

.load-more {
  margin-top: 80px;
  display: flex;
  align-items: center; }
  .load-more__splitter {
    border-top: 2px solid #bba294;
    flex: 1; }
  .load-more__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 30px;
    border: 2px solid #bba294;
    background-color: rgba(187, 162, 148, 0);
    font-size: 12px;
    font-family: "Proxima Nova Rg";
    color: #bba294;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .2s;
    letter-spacing: 3px;
    padding: 13px 20px 11px 20px; }
    .load-more__btn i {
      font-size: 20px;
      margin-right: 16px; }
    .load-more__btn:hover {
      background-color: #bba294;
      color: white; }

@media (max-width: 1199px) {
  .main-slider.desktop {
    display: none; } }
@media (min-width: 1200px) {
  .main-slider.mobile {
    display: none; } }
.main-slider__container {
  position: relative; }
.main-slider__nav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .main-slider__nav button {
    border: 0;
    border-radius: 50%;
    background-color: white;
    width: 87px;
    height: 87px;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    transition: all .2s;
    outline: none !important; }
    .main-slider__nav button:hover {
      background: #bba294;
      transform: scale(1.05); }
      .main-slider__nav button:hover:before {
        border-color: white; }
  .main-slider__nav .prev {
    padding-left: 0;
    position: absolute;
    left: 30px;
    top: 0;
    bottom: 0;
    margin: auto; }
    @media (min-width: 1440px) {
      .main-slider__nav .prev {
        left: 120px; } }
    .main-slider__nav .prev:before {
      content: '';
      position: absolute;
      border-top: 2px solid #bba294;
      width: 22px;
      border-left: 2px solid #bba294;
      height: 22px;
      transform: rotate(-45deg);
      top: 32px;
      left: 36px;
      transition: all .2s; }
  .main-slider__nav .next {
    padding-right: 0;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    margin: auto; }
    @media (min-width: 1440px) {
      .main-slider__nav .next {
        right: 120px; } }
    .main-slider__nav .next:before {
      content: '';
      position: absolute;
      border-top: 2px solid #bba294;
      width: 22px;
      border-left: 2px solid #bba294;
      height: 22px;
      transform: rotate(135deg);
      top: 32px;
      right: 36px;
      transition: all .2s; }
.main-slider__item {
  position: relative; }
  .main-slider__item__desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: right;
    color: white; }
    @media (min-width: 1440px) {
      .main-slider__item__desc .offset-1 {
        margin-left: 45px;
        max-width: 38.7%; } }
    .main-slider__item__desc .title {
      font-size: 108px;
      font-family: "Helvetica Neue";
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: 18px; }
      @media (min-width: 1440px) {
        .main-slider__item__desc .title {
          font-size: 163px; } }
    .main-slider__item__desc .subtitle {
      font-size: 44px;
      font-family: "Helvetica Neue";
      color: white;
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: 4.5px;
      line-height: 1.2;
      margin-bottom: 20px; }
    .main-slider__item__desc .text {
      text-align: left;
      font-size: 14px;
      font-family: "Proxima Nova Rg";
      color: white;
      line-height: 1.333;
      margin-bottom: 20px; }
      @media (min-width: 1440px) {
        .main-slider__item__desc .text {
          font-size: 18px;
          letter-spacing: 1px; } }
    @media (min-width: 1440px) {
      .main-slider__item__desc .b-btn button {
        padding: 16px 30px 14px;
        font-size: 13px;
        font-weight: 100;
        letter-spacing: 2px; } }
.main-slider.mobile .item {
  position: relative; }
  .main-slider.mobile .item .text {
    position: absolute;
    left: 15px;
    bottom: 44px; }
    .main-slider.mobile .item .text div:nth-child(1) {
      font-size: 89px;
      font-family: "Helvetica Neue";
      color: white;
      text-transform: uppercase;
      line-height: .9;
      letter-spacing: 10px; }
    .main-slider.mobile .item .text div:nth-child(2) {
      font-size: 23.383px;
      font-family: "Helvetica Neue";
      color: white;
      text-transform: uppercase;
      line-height: 1.2;
      margin-bottom: 15px;
      font-weight: 300;
      letter-spacing: 3.3px; }
.main-slider.mobile .slider__nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: -20px;
  position: relative;
  z-index: 20; }
  .main-slider.mobile .slider__nav .prev, .main-slider.mobile .slider__nav .next {
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    width: 26px;
    height: 16px;
    padding: 0; }
    .main-slider.mobile .slider__nav .prev:hover:before, .main-slider.mobile .slider__nav .next:hover:before {
      background: #bba294; }
    .main-slider.mobile .slider__nav .prev:hover:after, .main-slider.mobile .slider__nav .next:hover:after {
      border-color: #bba294; }
    .main-slider.mobile .slider__nav .prev:after, .main-slider.mobile .slider__nav .next:after {
      content: '';
      position: absolute;
      border-top: 2px solid #8c8f98;
      border-left: 2px solid #8c8f98;
      transform: rotate(135deg);
      width: 15px;
      height: 15px;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
    .main-slider.mobile .slider__nav .prev:before, .main-slider.mobile .slider__nav .next:before {
      content: '';
      position: absolute;
      background: #8c8f98;
      width: 100%;
      height: 2px;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto; }
    .main-slider.mobile .slider__nav .prev.prev, .main-slider.mobile .slider__nav .next.prev {
      transform: scale(-1, 1); }
  .main-slider.mobile .slider__nav__container {
    padding-left: 20px;
    padding-right: 20px; }
  .main-slider.mobile .slider__nav .owl-dot {
    border: 0;
    background-color: #dec9b6;
    width: 7px;
    height: 7px;
    margin-right: 24px;
    padding: 0; }
    .main-slider.mobile .slider__nav .owl-dot:last-of-type {
      margin-right: 0; }
    .main-slider.mobile .slider__nav .owl-dot:hover {
      background: #bba294; }
    .main-slider.mobile .slider__nav .owl-dot.active {
      background: #8c8f98; }

.directions {
  padding-top: 70px;
  padding-bottom: 128px; }
  @media (max-width: 1199px) {
    .directions {
      padding-top: 40px;
      padding-bottom: 8px; } }
  .directions__link {
    width: 100%;
    margin-bottom: 25px; }
    .directions__link a {
      background: white;
      position: relative;
      font-size: 30px;
      display: block;
      width: 100%;
      font-family: "Helvetica Neue";
      color: #bfa799;
      text-transform: uppercase;
      line-height: 1.2;
      letter-spacing: 3px; }
      @media (max-width: 1199px) {
        .directions__link a {
          font-size: 25px; } }
      .directions__link a span {
        background: white;
        position: relative;
        z-index: 3;
        padding-right: 20px; }
      .directions__link a:hover {
        color: #8c8f98;
        text-decoration: none; }
      .directions__link a:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 0;
        transition: all .2s;
        z-index: 2;
        background: #8c8f98;
        top: 0;
        bottom: 30%;
        margin: auto; }
        @media (max-width: 1199px) {
          .directions__link a:before {
            width: 100%;
            background: #bfa799;
            bottom: -38px; } }
      @media (max-width: 1199px) {
        .directions__link a:after {
          content: '';
          background: url("/assets/arrow-down.png");
          width: 9px;
          height: 6px;
          right: 0;
          bottom: 53%;
          position: absolute; } }
      .directions__link a[aria-expanded='true'] {
        color: #8c8f98; }
        .directions__link a[aria-expanded='true']:before {
          width: 100%; }
        .directions__link a[aria-expanded='true']:after {
          transform: scale(1, -1); }
  .directions__block__promo {
    position: relative;
    margin-bottom: 53px; }
    .directions__block__promo img {
      max-width: 100%;
      width: 100%; }
    .directions__block__promo .text {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 57%;
      padding-left: 67px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column; }
      .directions__block__promo .text h3 {
        font-size: 26px;
        font-family: "Helvetica Neue";
        color: white;
        text-transform: uppercase;
        line-height: 1.2;
        letter-spacing: 3px;
        margin-bottom: 24px; }
        @media (min-width: 1440px) {
          .directions__block__promo .text h3 {
            letter-spacing: 5px;
            font-size: 30px; } }
      .directions__block__promo .text p {
        font-size: 14px;
        font-family: "Proxima Nova Rg";
        color: black;
        font-weight: bold;
        line-height: 1.333;
        text-align: left;
        width: 300px;
        margin-bottom: 0; }
        @media (min-width: 1440px) {
          .directions__block__promo .text p {
            letter-spacing: 1px; } }
  .directions__block__row {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1199px) {
      .directions__block__row {
        flex-wrap: wrap;
        padding-left: 26px; } }
    .directions__block__row .item {
      width: 242px; }
      @media (max-width: 1199px) {
        .directions__block__row .item {
          width: 100%;
          margin-bottom: 20px; } }
      .directions__block__row .item .title {
        font-size: 11px;
        font-family: "Proxima Nova Rg";
        color: #bfa799;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 25px;
        letter-spacing: 2px; }
        @media (max-width: 1199px) {
          .directions__block__row .item .title {
            margin-bottom: 11px;
            letter-spacing: 1.2px; } }
        @media (min-width: 1440px) {
          .directions__block__row .item .title {
            font-size: 13px; } }
      .directions__block__row .item a {
        display: block;
        width: 100%;
        font-size: 14px;
        font-family: "Proxima Nova Rg";
        color: black;
        line-height: 2;
        letter-spacing: 1px; }
        .directions__block__row .item a:hover {
          text-decoration: none;
          color: #bfa799; }
        @media (max-width: 1199px) {
          .directions__block__row .item a {
            letter-spacing: -0.1px;
            line-height: 1.9; } }
        @media (min-width: 1440px) {
          .directions__block__row .item a {
            font-size: 16px; } }
      .directions__block__row .item .sale_item {
        border: 1px solid #bfa799;
        padding: 25px;
        display: flex;
        margin-bottom: 13px;
        line-height: 1.4;
        letter-spacing: normal; }
        .directions__block__row .item .sale_item .amount {
          margin-right: 22px;
          font-size: 36px;
          min-width: 71px;
          white-space: nowrap;
          font-family: "Helvetica Neue";
          color: #bfa799;
          text-transform: uppercase;
          border-bottom: 2px solid #bfa799; }
          .directions__block__row .item .sale_item .amount .sm {
            font-size: 18px; }
        .directions__block__row .item .sale_item .desc {
          font-size: 14px;
          font-family: "Proxima Nova Rg";
          color: black;
          line-height: 1.286; }
      .directions__block__row .item .sale_link {
        position: relative;
        font-size: 10px;
        font-family: "Proxima Nova Rg";
        color: #bfa799;
        line-height: 1.286;
        text-align: right;
        padding-right: 12px;
        letter-spacing: 2px;
        text-transform: uppercase; }
        .directions__block__row .item .sale_link:after {
          content: '';
          width: 8px;
          height: 8px;
          border-top: 1px solid #bfa799;
          border-right: 1px solid #bfa799;
          transform: rotate(45deg);
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto; }
        .directions__block__row .item .sale_link:hover {
          color: #8c8f98;
          text-decoration: none; }
          .directions__block__row .item .sale_link:hover:after {
            border-color: #8c8f98; }

.opportunities {
  transition: background .2s;
  position: relative; }
  @media (min-width: 1200px) {
    .opportunities {
      min-height: 600px;
      padding-top: 53px;
      padding-bottom: 77px; }
      .opportunities .container {
        height: 470px;
        display: flex;
        flex-direction: column; }
      .opportunities__row {
        align-items: center; }
        .opportunities__row--tiles {
          height: 470px; }
          .opportunities__row--tiles .col-lg-3 {
            margin-top: auto; } }
  @media (max-width: 1199px) {
    .opportunities {
      padding-top: 12px; } }
  .opportunities__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    overflow: hidden; }
    .opportunities__bg img {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      @media (max-width: 1199px) {
        .opportunities__bg img {
          width: auto;
          right: 0;
          left: -30%;
          margin: auto; } }
      .opportunities__bg img.fadeIn {
        animation: fadeIn .4s forwards;
        z-index: 5; }
      .opportunities__bg img.fadeOut {
        animation: fadeOut .8s forwards; }
  .opportunities .container {
    position: relative;
    z-index: 6; }
  .opportunities .title {
    font-size: 36px;
    font-family: "Helvetica Neue";
    color: white;
    text-transform: uppercase;
    line-height: 1.2; }
  .opportunities__row {
    align-items: center; }
    .opportunities__row--tiles {
      margin-top: auto; }
  @media (max-width: 1199px) {
    .opportunities__tile {
      margin-bottom: 59px; }
      .opportunities__tile a.no-xs-border {
        border: none; } }
  .opportunities__tile a {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: block;
    width: 100%;
    padding-top: 25px;
    font-size: 18px;
    font-family: "Helvetica Neue";
    color: white;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 2px; }
    @media (min-width: 1440px) {
      .opportunities__tile a {
        font-size: 21px; } }
    @media (max-width: 1199px) {
      .opportunities__tile a {
        letter-spacing: 2.7px;
        font-size: 19px; } }
    .opportunities__tile a:hover {
      border-color: white;
      text-decoration: none; }
    .opportunities__tile a[aria-expanded='true'] {
      border-color: white; }
  .opportunities__tile .description {
    padding-top: 30px;
    font-size: 14px;
    font-family: "Proxima Nova Lt";
    color: white;
    line-height: 1.333;
    transition: all .1s;
    opacity: 0; }
    @media (max-width: 1199px) {
      .opportunities__tile .description {
        padding-top: 14px;
        font-size: 17px; } }
    @media (min-width: 1440px) {
      .opportunities__tile .description {
        letter-spacing: 1px;
        font-size: 17px; } }
  .opportunities__tile .collapsing .description {
    opacity: .6; }
  .opportunities__tile .collapse.show .description {
    opacity: 1; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 20%; }
  100% {
    opacity: 1;
    top: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.slider {
  padding-top: 119px;
  padding-bottom: 102px;
  overflow: hidden; }
  @media (max-width: 1199px) {
    .slider {
      padding-top: 27px;
      padding-bottom: 52px; } }
  .slider__title {
    font-size: 28px;
    font-family: "Helvetica Neue";
    color: #bba294;
    text-transform: uppercase;
    line-height: 1.2;
    display: inline-block;
    margin-bottom: 90px;
    font-weight: 300;
    letter-spacing: 3px; }
    @media (max-width: 1199px) {
      .slider__title {
        padding-bottom: 8px;
        font-size: 23px;
        margin-bottom: 16px; } }
    .slider__title.--link {
      color: #8c8f98;
      margin-right: 40px;
      cursor: pointer; }
      @media (max-width: 1199px) {
        .slider__title.--link {
          margin-right: 30px;
          margin-bottom: 40px; } }
      .slider__title.--link.active {
        color: #bba294;
        border-bottom: 2px solid #bba294; }
      .slider__title.--link:hover {
        color: #bba294; }
  .slider__nav {
    display: flex;
    align-items: center; }
    @media (max-width: 1199px) {
      .slider__nav {
        justify-content: space-between;
        padding-top: 16px; } }
    .slider__nav .prev, .slider__nav .next {
      border: none;
      background: none;
      cursor: pointer;
      position: relative;
      width: 26px;
      height: 16px;
      padding: 0; }
      .slider__nav .prev:hover:before, .slider__nav .next:hover:before {
        background: #bba294; }
      .slider__nav .prev:hover:after, .slider__nav .next:hover:after {
        border-color: #bba294; }
      .slider__nav .prev:after, .slider__nav .next:after {
        content: '';
        position: absolute;
        border-top: 2px solid #8c8f98;
        border-left: 2px solid #8c8f98;
        transform: rotate(135deg);
        width: 15px;
        height: 15px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto; }
      .slider__nav .prev:before, .slider__nav .next:before {
        content: '';
        position: absolute;
        background: #8c8f98;
        width: 100%;
        height: 2px;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto; }
      .slider__nav .prev.prev, .slider__nav .next.prev {
        transform: scale(-1, 1); }
    .slider__nav__container {
      padding-left: 20px;
      padding-right: 20px; }
    .slider__nav .owl-dot {
      border: 0;
      background-color: #dec9b6;
      width: 7px;
      height: 7px;
      margin-right: 24px;
      padding: 0; }
      .slider__nav .owl-dot:last-of-type {
        margin-right: 0; }
      .slider__nav .owl-dot:hover {
        background: #bba294; }
      .slider__nav .owl-dot.active {
        background: #8c8f98; }
  .slider__tile {
    display: block;
    position: relative; }
    .slider__tile img {
      width: 100%;
      max-width: 100%; }
    .slider__tile .content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 20px; }
      @media (min-width: 1440px) {
        .slider__tile .content {
          padding-left: 34px;
          padding-right: 34px;
          padding-bottom: 30px; } }
      .slider__tile .content:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 300%;
        transition: background .2s;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #78797c 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #78797c 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #78797c 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
        /* IE6-9 */ }
      .slider__tile .content .sub-info {
        position: relative;
        font-size: 10px;
        font-family: "Proxima Nova Rg";
        color: #dec9b6;
        text-transform: uppercase;
        line-height: 1.2;
        margin-bottom: 10px; }
        @media (min-width: 1440px) {
          .slider__tile .content .sub-info {
            font-size: 11px;
            letter-spacing: 2px; } }
        .slider__tile .content .sub-info span {
          margin-right: 16px; }
      .slider__tile .content .title {
        position: relative;
        font-size: 23px;
        font-family: "Proxima Nova Lt";
        color: white;
        line-height: 1.2;
        min-height: 54px;
        letter-spacing: 0.7px; }
    .slider__tile:hover {
      text-decoration: none; }
      .slider__tile:hover .content:before {
        animation: fadeFromBottom .2s;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #bba294 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #bba294 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #bba294 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }
  .slider .owl-carousel.align-center .owl-stage {
    display: flex;
    align-items: center; }

@keyframes fadeFromBottom {
  0% {
    bottom: -200%; }
  100% {
    bottom: 0; } }
@keyframes fadeInFromLeft {
  0% {
    left: -50%;
    opacity: 0;
    position: relative; }
  100% {
    left: 0;
    opacity: 1; } }
@keyframes fadeOutRight {
  0% {
    right: 0;
    opacity: 1; }
  100% {
    right: -100%;
    opacity: 0; } }
.fadeIn {
  position: relative;
  animation: fadeInFromLeft .5s forwards; }

.fadeOut {
  position: absolute;
  animation: fadeOutRight .5s forwards; }

.subscribe {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #505258; }
  @media (max-width: 1200px) {
    .subscribe {
      padding-top: 30px;
      padding-bottom: 30px; } }
  .subscribe .split {
    display: block;
    width: 1px;
    background: #73757b;
    height: 111px; }
    @media (max-width: 1200px) {
      .subscribe .split {
        display: none; } }
  .subscribe .btn-gray {
    min-width: 297px;
    padding: 27px 39px;
    margin-bottom: 30px; }
    @media (max-width: 1199px) {
      .subscribe .btn-gray {
        min-width: 290px;
        padding: 27px 34px; } }
    .subscribe .btn-gray:last-of-type {
      margin-bottom: 0; }

.custom-modal {
  background: rgba(0, 0, 0, 0.3); }
  .custom-modal .close {
    margin-bottom: 14px; }
    @media (min-width: 1200px) {
      .custom-modal .close {
        margin-right: -40px; } }
  @media (min-width: 1200px) {
    .custom-modal .modal-dialog {
      min-width: 629px; } }
  .custom-modal .modal-content {
    padding: 30px 70px 70px;
    background-color: white;
    border: 0;
    border-radius: 0; }
    @media (max-width: 1199px) {
      .custom-modal .modal-content {
        padding: 20px 30px 30px; } }
    @media (min-width: 1200px) {
      .custom-modal .modal-content {
        min-height: 513px; } }
  .custom-modal .modal-body {
    padding: 0; }
  .custom-modal .tick {
    margin-bottom: 63px; }
  .custom-modal .title {
    font-size: 24px;
    font-family: "Helvetica Neue";
    color: #bba294;
    text-transform: uppercase;
    line-height: 1.083;
    letter-spacing: 2px;
    margin-bottom: 8px; }
  .custom-modal .subtitle {
    font-size: 15px;
    font-family: "Proxima Nova Rg";
    color: #505258;
    line-height: 1.286;
    margin-bottom: 33px; }
  .custom-modal .form-block {
    display: flex;
    margin-bottom: 10px; }
    @media (max-width: 1199px) {
      .custom-modal .form-block {
        margin-bottom: 24px;
        flex-wrap: wrap; }
        .custom-modal .form-block label {
          width: 100%; } }
    .custom-modal .form-block label {
      font-size: 10px;
      font-family: "Proxima Nova Rg";
      color: #bfa799;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      letter-spacing: 1.5px;
      min-width: 209px; }
      @media (min-width: 1200px) {
        .custom-modal .form-block label {
          margin-bottom: 0;
          padding-top: 15px; } }
    .custom-modal .form-block .input-block {
      flex: 1; }
  .custom-modal .actions {
    margin-top: 45px;
    display: flex;
    align-items: center; }
    .custom-modal .actions .custom-checkbox {
      flex: 1;
      margin-right: 24px; }
    @media (max-width: 1199px) {
      .custom-modal .actions {
        flex-wrap: wrap; }
        .custom-modal .actions .custom-checkbox {
          width: 100%;
          margin-bottom: 16px;
          margin-right: 0; }
        .custom-modal .actions button {
          width: 100%; } }
  .custom-modal .success-body {
    display: flex;
    flex-direction: column;
    justify-content: center; }

.specs {
  padding-bottom: 55px; }
  .specs .page-title {
    margin-bottom: 50px; }
  .specs__title {
    font-size: 14px;
    font-family: "Proxima Nova Rg";
    color: #bba294;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 44px; }
  .specs__row {
    margin-bottom: 60px; }
    @media (max-width: 1199px) {
      .specs__row {
        margin-bottom: 30px; } }
  .specs__item {
    margin-bottom: 24px;
    display: block; }
    .specs__item .photo-block {
      position: relative;
      margin-bottom: 18px;
      overflow: hidden; }
      .specs__item .photo-block img {
        width: 100%;
        max-width: 100%;
        position: relative;
        z-index: 5; }
      .specs__item .photo-block .fade {
        opacity: 1;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 6;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #78797c 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #78797c 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #78797c 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        height: 47%;
        width: 100%; }
      .specs__item .photo-block .text {
        position: absolute;
        padding-left: 21px;
        padding-right: 21px;
        padding-bottom: 18px;
        z-index: 7;
        bottom: 0;
        font-size: 18px;
        font-family: "Proxima Nova Lt";
        color: white;
        line-height: 1.2;
        text-align: left;
        min-height: 60px; }
        @media (min-width: 1440px) {
          .specs__item .photo-block .text {
            font-size: 20px; } }
    .specs__item .description {
      font-size: 8px;
      font-family: "Proxima Nova Lt";
      color: #414349;
      text-transform: uppercase;
      line-height: 1.6;
      letter-spacing: 2.2px;
      padding-left: 21px;
      padding-right: 21px;
      font-weight: bold; }
      @media (min-width: 1440px) {
        .specs__item .description {
          font-size: 10px; } }
    .specs__item:hover {
      text-decoration: none; }
      .specs__item:hover .fade {
        animation: fadeFromBottom .2s;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #bba294 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #bba294 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #bba294 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.feedback__item {
  margin-bottom: 44px; }
  .feedback__item img {
    margin-bottom: 30px;
    width: 100%;
    max-width: 100%; }
    .feedback__item img:last-of-type {
      margin-bottom: 39px; }
  .feedback__item video {
    max-width: 100%; }
  .feedback__item .video {
    position: relative;
    margin-bottom: 30px; }
    .feedback__item .video button {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 50%;
      background-color: #bba294;
      width: 105px;
      height: 105px;
      border: 0;
      cursor: pointer;
      transition: all .2s; }
      .feedback__item .video button .triangle {
        -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
        clip-path: polygon(0 0, 0% 100%, 100% 50%);
        background: white;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 8px;
        right: 0;
        margin: auto; }
      .feedback__item .video button:hover {
        background: #78797c; }
  .feedback__item .text {
    font-size: 15px;
    font-family: "Proxima Nova Rg";
    color: #414349;
    line-height: 1.5;
    margin-bottom: 43px; }
    @media (min-width: 1440px) {
      .feedback__item .text {
        font-size: 17px; } }
  .feedback__item .link {
    font-size: 11px;
    font-family: "Proxima Nova Rg";
    color: #bba294;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 2px; }
    .feedback__item .link:hover {
      color: #78797c;
      text-decoration: none; }
.feedback__new-item {
  background-color: #daccbf;
  width: 100%;
  padding: 22px; }
  .feedback__new-item .plus {
    border-radius: 50%;
    background-color: #bba294;
    width: 81px;
    height: 81px;
    text-align: center;
    font-size: 55px;
    font-family: "Helvetica Neue";
    color: #daccbf;
    line-height: 1.582;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: 100; }
  .feedback__new-item .body {
    position: relative;
    border: 2px solid #bba294;
    padding: 52px 25px 40px;
    text-align: center; }
    @media (min-width: 1440px) {
      .feedback__new-item .body {
        padding: 86px 55px 55px; } }
  .feedback__new-item .title {
    font-size: 26px;
    font-family: "Helvetica Neue";
    color: white;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3.5px;
    font-weight: 100;
    padding: 0 10px;
    margin-bottom: 50px; }
    @media (max-width: 1199px) {
      .feedback__new-item .title {
        font-size: 20px;
        padding: 0; } }
  .feedback__new-item .subtitle {
    font-size: 12px;
    font-family: "Proxima Nova Lt";
    color: #bba294;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 3.5px;
    margin-bottom: 27px; }
    @media (max-width: 1199px) {
      .feedback__new-item .subtitle {
        font-size: 13px; } }
  .feedback__new-item .btn-black {
    width: 100%;
    font-size: 12px; }

.blog__tile {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px; }
  .blog__tile img {
    width: 100%;
    max-width: 100%; }
  .blog__tile .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px; }
    @media (min-width: 1440px) {
      .blog__tile .content {
        padding-left: 34px;
        padding-right: 34px;
        padding-bottom: 30px; } }
    .blog__tile .content:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 300%;
      transition: background .2s;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #78797c 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #78797c 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #78797c 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
      /* IE6-9 */ }
    .blog__tile .content .sub-info {
      position: relative;
      font-size: 10px;
      font-family: "Proxima Nova Rg";
      color: #dec9b6;
      text-transform: uppercase;
      line-height: 1.2;
      margin-bottom: 10px;
      letter-spacing: 2px; }
      @media (min-width: 1440px) {
        .blog__tile .content .sub-info {
          font-size: 11px;
          letter-spacing: 2px; } }
      .blog__tile .content .sub-info span {
        margin-right: 16px; }
    .blog__tile .content .title {
      position: relative;
      font-size: 23px;
      font-family: "Proxima Nova Lt";
      color: white;
      line-height: 1.2;
      min-height: 54px;
      letter-spacing: 0.7px; }
  .blog__tile:hover {
    text-decoration: none; }
    .blog__tile:hover .content:before {
      animation: fadeFromBottom .2s;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #bba294 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #bba294 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #bba294 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

.contacts {
  position: relative;
  padding-bottom: 0; }
  @media (min-width: 1200px) {
    .contacts {
      padding-bottom: 78px; }
      .contacts .map-container {
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        top: 0;
        z-index: 900; }
        .contacts .map-container iframe {
          width: 100%;
          height: 100%; } }
  @media (max-width: 1199px) {
    .contacts .map-container {
      margin-top: 40px;
      height: 250px; }
      .contacts .map-container iframe {
        width: 100%;
        min-height: 250px; } }
  .contacts .page-title {
    margin-bottom: 44px; }
  .contacts__block {
    margin-bottom: 40px; }
    .contacts__block .name {
      margin-bottom: 9px;
      font-size: 12px;
      font-family: "Proxima Nova Rg";
      color: #bba294;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      letter-spacing: 2.5px; }
    .contacts__block .address {
      font-size: 24px;
      font-family: "Proxima Nova Lt";
      color: #414349;
      line-height: 1.167; }
    .contacts__block .desc {
      font-size: 18px;
      font-family: "Proxima Nova Lt";
      color: #414349;
      line-height: 1.556; }
      .contacts__block .desc a {
        color: #414349;
        transition: all .2s; }
        .contacts__block .desc a:hover {
          color: #bba294;
          text-decoration: none; }
    .contacts__block .social-links {
      padding-top: 7px; }
      .contacts__block .social-links a {
        margin-right: 28px; }
        .contacts__block .social-links a i {
          color: #414349;
          font-size: 27px; }
        .contacts__block .social-links a:hover i {
          color: #bba294; }
  .contacts .btn-black {
    padding: 17px 31px 14px;
    margin-top: 73px;
    font-size: 10px; }